/* styles.css */
.form-container {
    -fx-padding: 20px;
    -fx-spacing: 10px;
    -fx-alignment: center;
}

.form-label {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.form-textfield, .form-datepicker {
    -fx-pref-width: 200px;
}

.form-buttons {
    -fx-spacing: 10px;
    -fx-alignment: center;
}

.form-button {
    -fx-background-color: #0C3988;
    -fx-text-fill: #FFF;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
}

.form-button:hover {
    -fx-background-color: #355ECE;
}

.form-button:pressed {
    -fx-background-color: #0C3400;
}