/* styles.css */
.form-container {
    -fx-padding: 20px;
    -fx-spacing: 15px;
    -fx-alignment: center;
    -fx-background-color: #FFF; /* Fondo blanco */
    -fx-border-color: #7289da; /* Color del borde */
    -fx-border-radius: 0; /* Sin esquinas redondas */
    -fx-border-width: 2px;
}

.form-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #000; /* Texto negro */
}

.form-textfield, .form-datepicker {
    -fx-pref-width: 250px;
    -fx-padding: 5px; /* Menos alto */
    -fx-background-color: #FFF; /* Fondo blanco */
    -fx-text-fill: #000; /* Texto negro */
    -fx-border-color: #7289da; /* Color del borde */
    -fx-border-radius: 0; /* Sin esquinas redondas */
}

.form-buttons {
    -fx-spacing: 15px;
    -fx-alignment: center;
}

.form-button {
    -fx-background-color: #7289da; /* Fondo azul */
    -fx-text-fill: #FFF; /* Texto blanco */
    -fx-padding: 5px 10px; /* Menos alto */
    -fx-background-radius: 0; /* Sin esquinas redondas */
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.form-button:hover {
    -fx-background-color: #0056b3; /* Fondo azul oscuro al pasar el ratón */
}

.form-button:pressed {
    -fx-background-color: #004085; /* Fondo azul más oscuro al presionar */
}
